
h1{
    font-size: 2.5rem;
    font-family: Marker Felt;
}
h3{
    font-family: 'Trebuchet MS';
    font-size: 1.5rem;
}
p{
    font-family: 'Trebuchet MS';
}
.nav-bar{
    display: inline;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    float: right;
    color: black;
}
.nav-bar:visited {
    color: none;
}
.section-presentation{
    background-image: url(font-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.div-sub-presentation{
    text-align: center;
    top: 34vmax;
    position: relative;
    
}
.btn-presentation{
    background-color: #b3e6ff;
    border-radius: 4px;
    text-decoration: none;
    color: #ff8080;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 14px 16px;
    cursor: pointer;
    font-weight: 100;
    
}
.section-header{
    background: #3399ff;
    text-align: center;
    height: 7rem;
    margin: auto;
    position: relative;
    top: -1.6rem;
    color: antiquewhite
}
.section-about-container{
display: flex;   
}

.about-icon{
    height: 60%;
    width: 40%;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.about-section{
    text-align: center;
}

.div-description{
    text-align: flex;
    align-items: center;
    margin: auto;
    width: 60rem;

}
.profileid{
    height: auto;
    width: 20%;
    float: left;
}
.div-skills{
    display: inline;

}
.ul-skills{
    font-family: 'Trebuchet MS';

    padding: 0px 30px;
    
}
li{
    display: inline;
    list-style: armenian;
    padding: 0px 10px;

}
.icon{
    width: 20px;
    height: 20px;
}
.div-contact{
    margin: auto;
    display: grid;
    flex-direction: row;
    
}
.contact-left-side{
    align-items: center;
    background-color: #ff8080;
    width: 15rem;
    height: 18rem;
    flex-direction: row;
    margin: 0rem 22rem;
}
.contact-right-side{
    background-color: bisque;
    padding: 0rem 2rem;
    width: 20rem;
    height: 18rem;
    flex-direction: row;
    display: grid;
    margin-left: 36em;
    position: absolute;
    align-items: center;
}
.div-icon{
    align-items: center;
    display: flex;
    padding: 1rem;
}
span{
    margin-left: 1rem;
}
.r-icon{
    width: 16px;
    height: 16px;
    float: left;
    position: relative;
    top: 2px;
}
.reference-logo{
    width: 120px;
    height: 80px;

}
.resource-box{
    position: relative;
    margin: 0 auto;
    display: inline-flex;
  flex-direction: row;
}
.reference{
    align-items: center;
  flex-direction: row;
  padding: 1rem 9rem;
}
a {
    text-decoration: none;
}
.head-reference{
font-size: 1rem;
text-align: center;
}
.footer-span{
    color: red;
}
.p-footer{
    text-align: center;
}
.div-footer{
    background-color: #3399ff;
}
.footer-logo{
    width: 30px; height: 30px;
    display: flex;
    margin-left: auto; margin-right: auto;
    
}